{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/index.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<table>
</table>
{% endblock %}
